<header>

  <h1>
    <a href="{{ "/" | relative_url }}">{{ "Digital Marketer and Business Coach - Phil Barclay" | escape }}</a>
  </h1>

  <nav>
    {% include navigation.html navigation=site.data.navigation %}
  </nav>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="2196449597274883"
  logged_in_greeting="Hi! How can I help you?"
  logged_out_greeting="Hi! How can I help you?">
</div>
  
</header>
